Thumbs.db
*.suo
*.cachefile
*.user
*.v11
*.v12
*.pidb
*.userprefs
*.DS_Store
*.directory
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
C3DE.Demo/*/*/Content/*
C3DE.Demo/Platforms/Android/Assets/Content/*
C3DE.Demo/Content/*
C3DE.Editor/Content/*
Libs/*.dll
Libs/*.config
Libs/Android/*.dll
Libs/Windows8/*.dll
Libs/WindowsPhone/*.dll
Libs/WindowsGL/
!C3DE.Demo/Content/README.txt
!C3DE.Demo/*/*/Content/README.txt
!C3DE.Demo/Platforms/Android/Assets/Content/README.txt
!C3DE.Editor/Content/README.txt
!Libs/Android/MonoGame.Framework.dll
