<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Jitter.Standard" version="1.0.0" targetFramework="monoandroid71" />
  <package id="MonoGame.Framework.Android" version="3.7.1.189" targetFramework="monoandroid71" />
  <package id="System.Threading.Thread" version="4.3.0" targetFramework="monoandroid71" />
</packages>